# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# Node modules
npm_modules/
npm-global/

# OS files
.DS_Store
Thumbs.db